.error__container {
    display: flex;
    height: 100%;
    background-color: #AAA;
}

.error__message {
    width: 600px;
    margin: auto auto;
    text-align: center;
    border: 22px outset #387;
    background-image: linear-gradient(to bottom, #626262, #888);
    //background-color: #999;
}

.error__message p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    line-height: 2em;
    font-weight: 500;
}

.error__message p:first-child {
    font-size: 34px;
    font-weight: bold;
}