<mat-toolbar color="primary" class="toolbar">
    <div class="toolbar__menu">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="toolbar__app-name">
        <span>{{ 'application.name' | translate }}</span>
    </div>
    <div class="toolbar__account-icons">
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="toolbar__account-button">
            <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <app-menu></app-menu>
        </mat-menu>
    </div>
</mat-toolbar>