@import '~@angular/material/theming';

.toolbar {
    height: 40px;
    justify-content: space-between;
}

.toolbar__menu {
    margin-right: auto;
}

.toolbar__app-name {
    margin: 0 auto;
    font-weight: bold;
}

.toolbar__account-icons {
    margin-left: auto;
}